@import 'blocks/global-styles.css';
@import 'blocks/controls.css';
@import 'blocks/header.css';
@import 'blocks/awards.css';
@import 'blocks/aboutdmt.css';
@import 'blocks/bgempty.css';
@import 'blocks/courses.css';
@import 'blocks/teachers.css';
@import 'blocks/whywe.css';
@import 'blocks/readyit.css';
@import 'blocks/events.css';
@import 'blocks/graduates.css';
@import 'blocks/feedback.css';
@import 'blocks/footer.css';