.footer {
    padding-top: 70px;
}

.footer .footer_item__wrapper {
    margin-top: 20px;
}

.footer .footer_item__wrapper {
    margin-top: 20px;
    width: 24%;
}

.footer .footer__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer_item__name {
    font-size: 25px;
    font-weight: 600;
    color: #465064;
}

.footer .footer_item__text {
    text-decoration: none;
    font-size: 16px;
    color: #465064;
}

.footer .footer_item__text:hover {
    text-decoration: none;
    color: #FF254C;
    transition: 0.2s;
}

.footer .footer_item__name {
    text-decoration: none;
}

.footer .footer_item__subwrapper {
    display: flex;
    justify-content: space-between;
}

.footer .footer__copyright {
    margin: 25px 0 15px 0;
    font-size: 14px;
    color: #99a3b7;
}

.footer .footer__fix {
    font-size: 22px;
    color: #99a3b7;
    margin-left: 90px;
}
