.footer {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .footer__item {
    margin-top: 20px;
}

.footer .footer__name {
    font-size: 25px;
    font-weight: 600;
    color: #465064;
}

.footer .footer__text {
    text-decoration: none;
    font-size: 16px;
    color: #465064;
}

.footer .footer__text:hover {
    text-decoration: none;
    color: #FF254C;
    transition: 0.2s;
}

.footer .footer__subscribe {
    margin-left: 60px;
    font-size: 22px;
    color: #99a3b7;
}

.footer .social__logo {
    margin-left: 60px;
    display: flex;
    justify-content: end;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #99a3b7;
    margin-top: 25px;
}