@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}