@media (max-width: 1200px) { 
    .container {
        width: 960px;
    }

    .header .header__title {
        font-size: 80px;
    }

    .header .header__cover {
        width: 550px;
        margin-top: 60px;
    }
    
    .awards {
        padding-top: 50px;
    }
    
    .awards .awards_name {
        font-size: 18px;
    }

    .awards .awards__buttons {
        margin-top: 70px;
    }

    .dmtstudents {
        width: 440px;
        height: 385px;
    }

    .aboutdmt .aboutdmt__title {
        font-size: 40px;
    }

    .textmost {
        font-size: 15px;
    }

    .bgempty {
        margin-top: 20px;
    }

    .courses .course__item {
        font-size: 15px;
        padding: 25px 15px;
    }

    .teachers .teachers__wrapper {
        flex-wrap: wrap;
        margin-top: 15px;
    }

    .teachers .teacher__item {
        width: 48%;
    }
    
    .teachers .teacht_blue {
        font-size: 24px;
    }

    .teachers .teachimg {
        margin-top: 25px;
    }

    .whywe .whywe__item {
        width: 49%;
    }

    .slick-prev {
        left: 30px
    }

    .footer .footer__item {
        flex-wrap: wrap;
    }

    .footer .footer_item__wrapper {
        width: 48%;
    }

    .footer .footer__fix {
        margin-left: 0;
    }

    .teachlink {
        margin: 0 10px -50px 0;
    }
}

@media (max-width: 992px) {
    .container {
        width: 720px;
    }

    .header {
        padding-top: 90px;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:aquamarine;
        top: 0;
        left: -100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: left .3s ease-out;
        z-index: 9;
    }

    .nav.active {
        left: 0;
    }

    .nav .nav__list {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }

    .nav .nav__list li {
        margin-top: 20px;
    }

    .nav .nav__list a {
        font-size: 20px;
    }

    .social__wrapper {
        margin-top: 25px;
    }

    .burger {
        display: block;
    }

    .header .header__cover {
        margin-top: 0;
        width: 500px;
    }

    .awards {
        padding-top: 40px;
    }

    .title {
        font-size: 44px;
    }

    .awards .awards_desc {
        font-size: 18px;
    }
    
    .awards .awards_name {
        font-size: 16px;
    }

    .awards .awards__buttons {
        margin-top: 110px;
    }

    .dmtstudents {
        width: 338px;
        height: 295px;
    }

    .aboutdmt .aboutdmt__title {
        font-size: 30px;
    }

    .textmost {
        font-size: 12px;
    }

    .aboutdmt .aboutdmt__button {
        margin-top: 15px;
    }

    .whiteredbutton {
        font-size: 12px;
        padding: 12px 13px;
    }

    .courses .course__item {
        width: 32.5%;
        padding: 25px 10px;
    }

    .whitetitle {
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 540px;
    }

    .header .header__title {
        font-size: 60px;
    }

    .title_desc {
        font-size: 18px;
    }

    .header .header__cover {
        width: 420px;
        margin-top: 60px;
    }

    .awards {
        padding-top: 40px;
    }

    .title {
        font-size: 44px;
    }

    .awards .awards_desc {
        font-size: 18px;
    }

    .awards .awards__wrapper {
        flex-wrap: wrap;
        margin-top: 0;
    }

    .awards .awards__item {
        width: 47%;
        margin-top: 45px;
    }
    
    .awards .awards_name {
        font-size: 16px;
        margin-top: 5px;
    }

    .awards .awards__buttons {
        margin-top: 60px;
    }

    .aboutdmt {
        padding-top: 80px;
    }

    .dmtstudents {
        margin-top: 30px;
    }

    .aboutdmt .aboutdmt__wrapper {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .courses .course__item {
        font-size: 12px;
        padding: 25px 15px;
    }

    .textmost {
        font-size: 12px;
    }
    
    .courses .courses__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
    }

    .courses .course__item {
        width: 46%;
        margin: 15px 0 0 15px;
    }

    .whywe .whywe__item {
        width: 100%;
    }

    .whitetitle {
        font-size: 41px;
    }

    .readyit .title_desc__readyit {
        font-size: 16px;
    }

    .events {
        padding-bottom: 50px;
    }

    .events .events__item {
        flex-wrap: wrap;
    }

    .item .item__title {
        font-size: 16px;
    }

    .item .item__day {
        margin-right: 0;
        padding-right: 15px;
        font-size: 40px;
    }

    .item .item__day-fix {
        font-size: 37px;
    }

    .events .item__button {
        padding: 5px 45px;
        font-size: 14px;
        margin: 20px 0 0 180px;
    }

    .graduates .graduate__item {
        width: 48%;
    }

    .feedback {
        padding-bottom: 45px;
    }

    .feedback .feedback__item {
        padding: 0 60px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 320px;
        padding: 0 10px;
    }

    .header .header__title {
        font-size: 40px;
    }

    .header .header__cover {
        width: 80%;
    }

    .title_desc {
        margin-top: 8px;
    }

    .awards {
        padding-top: 0px;
    }

    .title {
        font-size: 38px;
    }

    .awards .awards_desc {
        font-size: 15px;
    }

    .awards .awards__wrapper {
        justify-content: center;
        margin-right: 0;
    }

    .awards .awards__buttons {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .awards .awards__buttons a {
        margin-top: 15px
    }

    .awards .awards__item {
        width: 95%;
    }

    .redbluebutton {
        font-size: 12px;
        padding: 8px 19px;
        
    }

    .dmtstudents {
        width: 275px;
        height: 240px;
    }

    .bgempty {
        margin-top: 0px;
    }

    .courses .courses__wrapper {
        margin-top: 10px;
    }

    .courses .course__item {
        width: 100%;
        margin: 15px 0 0 15px;
    }

    .teachers {
        padding-bottom: 30px;
    }

    .teachers .teacher__item {
        width: 100%;
    }

    .whitetitle {
        font-size: 28px;
    }

    .readyit {
        padding-bottom: 60px;
    }

    .readyit .title_desc__readyit {
        font-size: 13px;
    }

    .readyit .redbluebutton__readyit {
        width: 160px;
        padding: 9px 0;
    }

    .events .item__wrapper {
        flex-wrap: wrap;
    }

    .events .events__item {
        width: 100%;
    }

    .events .item__day {
        font-size: 32px;
    }

    .events .item__month {
        font-size: 14px;
    }

    .events .item__time {
        font-size: 12px;
    }

    .item .item__title {
        font-size: 14px;
    }

    .item .item__type {
        font-size: 12px;
    }

    .item .item__lector {
        font-size: 15px;
    }

    .item .item__role {
        font-size: 12px;
    }

    .events .item__button {
        font-size: 12px;
        padding: 3px 35px;
        margin-left: 100px;
        margin-bottom: 5px;
    }

    .graduates {
        padding-bottom: 70px;
    }

    .graduates .graduate__item {
        width: 100%;
    }

    .feedback {
        padding-top: 50px;
        padding-bottom: 25px;
    }
}